{% extends "base.html" %}

{% block content %}
<h1>Lista de Reservas</h1>
<a href="{% url 'crear_reserva' %}" class="btn btn-primary">Nueva Reserva</a>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Habitación</th>
            <th>Cliente</th>
            <th>Fecha de Entrada</th>
            <th>Fecha de Salida</th>
            <th>Número de Huéspedes</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
        <tr>
            <td>{{ reserva.habitacion.tipo }}</td>
            <td>{{ reserva.cliente.nombre }}</td>
            <td>{{ reserva.fecha_entrada }}</td>
            <td>{{ reserva.fecha_salida }}</td>
            <td>{{ reserva.numero_huespedes }}</td>
            <td>
                <a href="{% url 'editar_reserva' reserva.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'eliminar_reserva' reserva.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
